@model MVC_Participation_Beginner.Models.ChuckNorrisAPI

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<img src="@Model.icon_url" alt="Chuck Norris" />
<div>
    <h4>ChuckNorrisAPI</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.icon_url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.icon_url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.value)
        </dd>
    </dl>
</div>